/*
    GENERAL
*/

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}


/*
    DASHBOARD
*/


header{
    background: #ffffff;
    overflow: auto;
    border-bottom: solid 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 20px 1px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 1px 20px 1px rgba(0,0,0,0.34);
    box-shadow: 0px 1px 20px 1px rgba(0,0,0,0.34);
}

header h1{
    margin: 20px 0 10px 20px;
    float:left;
}

header ul{
    margin: 35px 40px 0 0;
    list-style: none;
    float:right;
    -webkit-padding-start: 0px;
}

header ul li{
    margin-left:20px;
    display:inline-block;
}

.left-container{
    float:left;
    margin-top:20px;
    margin-left:20px;
    padding:20px;
    background: rgba(201, 179, 140, 0.34);
    border: solid 1px #000000;
    border-radius: 5px;
    line-height: 200%;
}

.left-container ul{
    margin:0;
    list-style: none;
    -webkit-padding-start: 0px;
}

.right-container{
    float:left;
}



/*
    CALENDAR
*/

#calendar {
    max-width: 900px;
    margin: 0 auto;
}