{% extends "header.html" %}
{% block content %}

<header>
    <h1 class="title">Dashboard</h1>
    <ul>
        <li>Logged as <strong>{{ user['username'] }}</strong></li>
        <li><a href="logout">Logout <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
    </ul>
</header>

<article class="left-container">
    <ul>
        <li><a href=""><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Master</a></li>
        <li><a href=""><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Course</a></li>
        <li><a href=""><span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export PDF</a></li>
    </ul>
</article>

<article class="right-container">
    <h2>Actual Courses</h2>
</article>

{% endblock %}