<!DOCTYPE html>
<html>
<head>
    <title>{% block title '' %} Malendar</title>
    <link href="{{ app.request.basepath }}/css/normalize.css" rel="stylesheet" type="text/css"/>
    <link href="{{ app.request.basepath }}/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="{{ app.request.basepath }}/css/login_page.css" rel="stylesheet" type="text/css"/>
    <link href='{{ app.request.basepath }}/css/calendar/fullcalendar.css' rel='stylesheet' />
    <link href='{{ app.request.basepath }}/css/calendar/fullcalendar.print.css' rel='stylesheet' media='print' />
    <link rel='stylesheet' href='{{ app.request.basepath }}/css/calendar/jquery-ui.min.css' />

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src='{{ app.request.basepath }}/js/lib/moment.min.js'></script>
    <script src='{{ app.request.basepath }}/js/fullcalendar.js'></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
